*.obj
*.tlog

.vscode

simulator
frameworks/runtime-src/proj.win32/.vs
frameworks/runtime-src/proj.win32/Debug.win32
frameworks/runtime-src/proj.win32/z2o_client.sln.DotSettings.user
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/libSpine.vcxproj.user
frameworks/cocos2d-x/cocos/2d/Debug.win32
frameworks/cocos2d-x/cocos/2d/libcocos2d.vcxproj.user

frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/libluacocos2d.vcxproj.user
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d

frameworks/cocos2d-x/external/recast/proj.win32/librecast.vcxproj.user
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32

frameworks/runtime-src/proj.android/proj.android.iml
frameworks/runtime-src/proj.android/app/z2o_client.iml
frameworks/runtime-src/proj.android/.idea
frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml